In [21]:
from tkinter.font import names
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics 
import pandas as pd

# Loading Data

Sklearn DecisionTreeClassifier ne prend que des **valeurs num√©riques** ... (it's not a good news, really bad one)

In [23]:
df = pd.read_csv("output.csv", sep=";").dropna(how='any')
data = df[['name', 'HMMTOP_tm_segment_length','HMMTOP_plus_10_after_TM_charge','HMMTOP_plus_10_after_TM_sequence']]
data.head()

,name,HMMTOP_tm_segment_length,HMMTOP_plus_10_after_TM_charge,HMMTOP_plus_10_after_TM_sequence
0,sp|P00401|COX1_YEAST,"[22, 24, 19, 24, 24, 24, 18, 19, 24, 24, 19, 24]","[0, -1, -1, 1, 0, 2, 1, 2, -1, 0, 1, 2]","['IRLELAAPGS', 'MIGATDTAFP', 'VESGAGTGWT', 'LN..."
1,sp|P03875|AI1M_YEAST,"[19, 19, 22]","[0, 3, 2]","['IRLELAAPGS', 'INRYLKHMTN', 'IRITISSYHL']"
2,sp|P03876|AI2M_YEAST,"[19, 17, 17]","[0, 1, 2]","['IRLELAAPGS', 'FRLIYHCIEV', 'FRYVNHMAYP']"
3,sp|P03877|SCE3_YEAST,"[22, 23, 22]","[0, 1, 1]","['IRLELAAPGS', 'GNQKRYESNN', 'MRTPKYEAFV']"
4,sp|P03878|SCE2_YEAST,"[23, 24, 17, 24, 23, 17, 18]","[0, -1, -1, 1, 0, 1, 0]","['IRLELAAPGS', 'MIGATDTAFP', 'VESGAGTGWT', 'LN..."

In [24]:
data.describe()

,name,HMMTOP_tm_segment_length,HMMTOP_plus_10_after_TM_charge,HMMTOP_plus_10_after_TM_sequence
count,901,901,901,901
unique,901,124,139,321
top,sp|P00401|COX1_YEAST,[],[],[]
freq,1,581,581,581

### Feature Selection   

divide given columns into two types of varaibles dependant and independant variable

In [12]:
feature_cols = ['HMMTOP_tm_segment_length','HMMTOP_plus_10_after_TM_sequence']
X = data[feature_cols]
y = data.HMMTOP_plus_10_after_TM_charge

I need to transform the data into numerique one

In [26]:
ohe = OneHotEncoder()
transformed = ohe.fit_transform(df[['HMMTOP_plus_10_after_TM_charge']])
print(transformed.toarray())

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 0. 1.]]

In [27]:
print(ohe.categories_)

[array(['[-1, -1, 2]', '[-1, -1]', '[-1, -2]', '[-1, 0, 3]',
       '[-1, 0, 4, 1, 2, -2, 2, 3]', '[-1, 0]', '[-1, 1, 0]',
       '[-1, 1, 1, 1, 0, 2, 0, -2]', '[-1, 1, 1, 4, 0, 0, 0, -3]',
       '[-1, 2, 1, 3, 0, 1, 0, 1, 1, -2, -1, 2]', '[-1, 2, 2, -1]',
       '[-1, 3]', '[-1, 4, -2, 2, 0]', '[-1, 5]', '[-1]', '[-2, -1]',
       '[-2, 0, 3, -2, 4]', '[-2, 0]', '[-2, 1]', '[-2, 2]',
       '[-2, 4, 0, 1, 0, 1, -2, 0, -1, 1]', '[-2, 4]', '[-2]', '[-3, 2]',
       '[-3, 3, 1]', '[-3]', '[-4]',
       '[0, -1, -1, 1, -1, 1, 2, 1, 1, -1, 4, 2, 2]',
       '[0, -1, -1, 1, 0, 1, 0]',
       '[0, -1, -1, 1, 0, 2, 1, 2, -1, 0, 1, 2]', '[0, -1, 2, 0, 2, 0]',
       '[0, -1, 2, 1, -3, -1]', '[0, -1, 4, 1]', '[0, -3]',
       '[0, 0, -1, -1, 2, 1, -2]', '[0, 0, 0, 0]', '[0, 0, 1, 2, -1]',
       '[0, 0, 1, 2, 3]', '[0, 0, 4, 3]', '[0, 0]', '[0, 1, 0, 0]',
       '[0, 1, 0, 3, -1]', '[0, 1, 1, 0, 3, 0]', '[0, 1, 1, 0]',
       '[0, 1, 1]', '[0, 1, 2]', '[0, 1, 3]', '[0, 1]',
       '[0, 2, 0, 2, -1]', '[0, 2, 0, 2, 2]', '[0, 2, 0]',
       '[0, 2, 1, -2, 1, -1]', '[0, 2, 1, 0, 2, 0, 1, 0, 0]',
       '[0, 2, 1, 1, 2, 0, 3]', '[0, 2]', '[0, 3, -1, 2, -1, 4, 1, 3]',
       '[0, 3, 0, 2, 1, 3]', '[0, 3, 0]', '[0, 3, 2, 3, 2]', '[0, 3, 2]',
       '[0, 3]', '[0, 4, 0]', '[0, 4]', '[0, 6]', '[0]',
       '[1, -1, 0, 2, -1, 3, 0]',
       '[1, -1, 1, 2, 2, -1, 0, 0, 1, -1, 0, -2, 2, -1, 4]',
       '[1, -1, 3, 0]', '[1, -1, 3, 1, 1, 0, 1]', '[1, -1]',
       '[1, -2, 2, 1]', '[1, 0, 2, -1]', '[1, 0, 2, 1, 1, 3]',
       '[1, 0, 3, 0]', '[1, 0, 3, 3]', '[1, 0]', '[1, 1, 1, -1, -1, 0]',
       '[1, 1, 1, 0, 0, 0]', '[1, 1, 1, 1, 2, -1]', '[1, 1, 2, -1]',
       '[1, 1, 2, 0, 0, -1, 1]', '[1, 1, 2, 0, 2, 1]', '[1, 1, 3, -1]',
       '[1, 1]', '[1, 2, 0]', '[1, 2, 1, 0]', '[1, 2, 1, 1, -1, -1]',
       '[1, 2, 2, 0]', '[1, 2, 3, 0]', '[1, 2, 3]',
       '[1, 3, 1, -1, 2, -1]', '[1, 3, 2]', '[1, 3, 3, 1]', '[1, 3]',
       '[1, 4]', '[1]', '[2, -1]', '[2, -2]', '[2, 0, 1, -1, 0, 2]',
       '[2, 0, 1, -1, 0, 3]', '[2, 0, 1, -1]', '[2, 0, 3]', '[2, 0]',
       '[2, 1, 0, 1, 1, -1]', '[2, 1, 1]', '[2, 1, 2, 1]', '[2, 1]',
       '[2, 2, -1, 0, 1, 3]', '[2, 2, -1, 1]', '[2, 2, 0, 1, 1]',
       '[2, 2, 0, 1]', '[2, 2, 1]', '[2, 2]', '[2, 3, 1, 1, 2]', '[2, 5]',
       '[2]', '[3, -1, 2, 0, 1, 3, 0, 1, 2, 0, 1, 1]', '[3, -1, 2, 1, 3]',
       '[3, -1, 3, -1]', '[3, -1]', '[3, 0]', '[3, 1]',
       '[3, 2, 0, 2, 2, -1, -1]', '[3, 2, 0]', '[3, 2, 4, 2]', '[3, 2]',
       '[3, 3]', '[3]', '[4, -1, 1, -1]', '[4, -2, 0]', '[4, -2, 1, 1]',
       '[4, 0, 0, 0, 1]', '[4, 1]', '[4, 2]', '[4, 4]', '[4]', '[5]',
       '[8]', '[]'], dtype=object)]

### Spliting data

In [16]:
# split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)
# 70% training and 30% test

### Building Decision Tree Model

In [20]:
X_train.shape
#type(X_train)

(630, 2)

In [25]:
# create decision tree classifier object 
clf = DecisionTreeClassifier()

#train decision tree classifier
clf = clf.fit(X_train, y_train)

# predict the response for test dataset 
y_pred = clf.predict(X_test)